.navbar {
    background-color: rgb(136, 39, 39);
    font-size: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: lightgray;
    padding: 8px 5px 8px 5px;
}

.navbar a {
    text-decoration: none;
    color: inherit;
}

.navbar-brand {
    font-size: 1.2em;
    font-weight: 600;
}

.navbar-item {
    font-variant: small-caps;
    margin-left: 30px;
}

.body-content {
    padding: 5px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input[name=message] {
    width: 80%;
}

.message_list th,td {
    text-align: left;
    padding-right: 15px;
}

.search-button {
    padding: 8px 12px;
    background-color: #8b0000;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
}

.search-button:hover {
    background-color: #a52a2a;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.btn-delete {
    padding: 5px 10px;
}

td {
    vertical-align: middle;
}
