{% extends "layout.html" %}
{% load static %}

{% block title %}
    All Chemicals
{% endblock %}

{% block content %}

<div class="md:px-1 lg:px-[10vw]">
    <button class="btn mb-2" id="show-filter-btn">Show filters</button>
    
    <div class="grid grid-cols-4 gap-x-4">
        <section class="grid">
            <c-utilities />
        </section>
        <!-- Filters Section -->
        <section class="hidden col-span-1" id="filters">
            <c-filters />
        </section>

        <!-- Chemicals List Section -->
        <section class="col-span-3">
            {% if table_name == "individualChemicals" %}
                <c-chem-list-indiv />
            {% elif table_name == "allChemicals" %}
                <c-chem-list />
            {% endif %}
        </section>
    </div>
</div>

<script>
    let btn = document.getElementById('show-filter-btn');
    btn.addEventListener('click', (e) => {
        let filterSection = document.getElementById('filters');
        if (filterSection.classList.contains('hidden')) {
            filterSection.classList.remove('hidden');
            filterSection.classList.add('grid');
            filterSection.classList.add('col-span-1');
            filterSection.classList.add('mb-4');
            e.target.textContent = 'Hide filters'
        } else {
            filterSection.classList.add('hidden');
            filterSection.classList.remove('grid');            
            filterSection.classList.remove('col-span-1');            
            filterSection.classList.remove('mb-4');            
            e.target.textContent = 'Show filters'
        }
    });
</script>

{% endblock %}