{% extends "layout.html" %}

{% block title %}
    Logs
{% endblock %}

{% block content %}
    <h1>Action Logs</h1>

    <table border="1">
        <thead>
            <tr>
                <th>User</th>
                <th>Action</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {% for log in log %}
                <tr>
                    <td>{{ log.user }}</td>
                    <td>{{ log.action }}</td>
                    <td>{{ log.date }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="3">No logs available.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
