{% extends "layout.html" %}
{% load static %}
{% load extras %}

{% block title %}
    All Chemicals
{% endblock %}

{% block content %}
    <header>
        <h1>All Chemicals</h1>
    </header>
    <main>
    <!-- Content will go here -->
        <form method="get">
        {{ filtered_chemicals.form.as_p }}
        <input type="submit" value="Filter">
        </form>

        
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Material</th>
                    <th>Name</th>
                    <th>Location Room</th>
                    <th>Amount Total</th>
                    <th>Amount Expected</th>
                    <th>Amount Percentage</th>
                    <th>Amount Unit</th>
                    <th>Concentration</th>
                    <th>SDS</th>
                    <th>Notes</th>
                    <th>Instrument</th>
                </tr>
            </thead>
            <tbody>
                {% for chemical in page_obj %}
                <tr>
                    <td>{{ chemical.chemID }}</td>
                    <td>{{ chemical.chemMaterial }}</td>
                    <td>{{ chemical.chemName }}</td>
                    <td>{{ chemical.chemLocationRoom }}</td>
                    <td>{{ chemical.chemAmountTotal }}</td>
                    <td>{{ chemical.chemAmountExpected }}</td>
                    <td>{{ chemical.chemAmountPercentage }}</td>
                    <td>{{ chemical.chemAmountUnit }}</td>
                    <td>{{ chemical.chemConcentration }}</td>
                    <td>{{ chemical.chemSDS }}</td>
                    <td>{{ chemical.chemNotes }}</td>
                    <td>{{ chemical.chemInstrument }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="{% my_url 1 'page' request.GET.urlencode %}">&laquo; First</a>
                    <a href="{% my_url page_obj.previous_page_number 'page' request.GET.urlencode %}">Previous</a>
                {% endif %}

                    <span class="current">
                        Page {{page_obj.number}} of {{page_obj.paginator.num_pages}}.
                    </span>

                {% if page_obj.has_next %}
                    <a href="{% my_url page_obj.next_page_number 'page' request.GET.urlencode %}">Next</a>
                    <a href="{% my_url page_obj.paginator.num_pages 'page' request.GET.urlencode %}">> Last</a>
                {% endif %}
            </span>
        </div>
    </main>
{% endblock %}