<div id="chem-list-indiv" class="px-0 sm:px-2 lg:px-4">
    <h1 class="text-2xl font-bold mb-4"></h1>

    <!-- Responsive grid for smaller screens -->
    <div class="grid gap-4 sm:hidden">
        {% for chemical in page_obj %}
        <div class="border border-gray-300 p-4 rounded-lg shadow">
            <p><strong>ID:</strong> {{ chemical.chemBottleIDNUM }}</p>
            <p><strong>Name:</strong> {{ chemical.chemName }}</p>
            <p><strong>Material:</strong> {{ chemical.chemMaterial }}</p>
            <p><strong>Concentration:</strong> {{ chemical.chemConcentration }}</p>
            <p><strong>Location:</strong> Room: {{ chemical.chemLocationRoom }}, Cabinet: {{ chemical.chemLocationCabinet }}, Shelf: {{ chemical.chemLocationShelf }}</p>
            <p><strong>Amount:</strong> {{ chemical.chemAmountInBottle }}  {{ chemical.chemAssociated.chemAmountUnit }}</p>
            <p><strong>SDS:</strong> {{ chemical.chemAssociated.chemSDS }}</p>
            <p><strong>Checked by:</strong> 
                {% if chemical.chemCheckedOutBy %}
                    {{ chemical.chemCheckedOutBy.username }}
                {% else %}
                    N/A
                {% endif %}
            </p>
            <p><strong>Checked out:</strong> 
                {% if chemical.chemCheckedOutDate %}
                    {{ chemical.chemCheckedOutDate|date:"Y-m-d H:i" }}
                {% else %}
                    N/A
                {% endif %}
            </p>
            <p>
                <form action="{% url 'edit_chemical' table_name chemical.chemBottleIDNUM %}" method="get" style="display:inline;">
                    <input type="hidden" name="referrer" value="{{ request.path }}">
                    <button type="submit" class="button-style">Edit</button>
                </form>
            </p>
            <p>
                <form method="POST" action="{% url 'delete_chemical' table_name chemical.chemBottleIDNUM %}" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" onclick="return confirm('Are you sure you want to delete this chemical?')" class="button-style">Delete</button>
                </form>
            </p>
            
        </div>
        {% endfor %}

        <c-pagination />
    </div>

    <!-- Table for larger screens -->
    <div class="hidden sm:block">
        <div class="overflow-x-auto h-[calc(100vh-150px)]">
            <div class="flex items-center space-x-4 mb-4">
                <c-sort />
                <c-pagination />
            </div>
            <table class="table-auto w-full border-collapse border border-gray-300 shadow-lg">
                <thead class="bg-gray-100">
                    <tr>
                        <th class="border border-gray-300 px-4 py-2 text-left">ID</th>
                        <th class="border border-gray-300 px-4 py-2 text-left">Name</th>
                        <th class="border border-gray-300 px-4 py-2 text-left">Material</th>
                        <th class="border border-gray-300 px-4 py-2 text-left">Concentration</th>
                        <th class="border border-gray-300 px-4 py-2 text-left">Location</th>
                        <th class="border border-gray-300 px-4 py-2 text-left">Amount</th>
                        <th class="border border-gray-300 px-4 py-2 text-left">SDS</th>
                        <th class="border border-gray-300 px-4 py-2 text-left">Checked by</th>
                        <th class="border border-gray-300 px-4 py-2 text-left">Checked when</th>
                        <th class="border border-gray-300 px-4 py-2 text-left">Edit</th>
                        <th class="border border-gray-300 px-4 py-2 text-left">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for chemical in page_obj %}
                    <tr class="hover:bg-gray-50">
                        <td class="border border-gray-300 px-4 py-2">{{ chemical.chemBottleIDNUM }}</td>
                        <td class="border border-gray-300 px-4 py-2">{{ chemical.chemAssociated.chemName }}</td>
                        <td class="border border-gray-300 px-4 py-2">{{ chemical.chemAssociated.chemMaterial }}</td>
                        <td class="border border-gray-300 px-4 py-2">{{ chemical.chemAssociated.chemConcentration }}</td>
                        <td class="border border-gray-300 px-4 py-2">{{ chemical.chemLocationRoom }}</td>
                        <td class="border border-gray-300 px-4 py-2">{{ chemical.chemAmountInBottle }}  {{ chemical.chemAssociated.chemAmountUnit }}</td>
                        <td class="border border-gray-300 px-4 py-2">{{ chemical.chemAssociated.chemSDS }}</td>
                        <td class="border border-gray-300 px-4 py-2">
                            {% if chemical.chemCheckedOutBy %}
                                {{ chemical.chemCheckedOutBy.username }}
                            {% else %}
                                N/A
                            {% endif %}
                        </td>
                        <td class="column-checked-out-date" data-label="Checked Out Date">
                            {% if chemical.chemCheckedOutDate %}
                                {{ chemical.chemCheckedOutDate|date:"Y-m-d H:i" }}
                            {% else %}
                                N/A
                            {% endif %}
                        </td>
                        <td data-label="Edit">
                            <!-- Edit Chemical Button -->
                            <form action="{% url 'edit_chemical' table_name chemical.chemBottleIDNUM %}" method="get" style="display:inline;">
                                <input type="hidden" name="referrer" value="{{ request.path }}">
                                <button type="submit" class="button-style">Edit</button>
                            </form>
                        </td>
                        <td data-label="Delete">
                            <!-- Delete Chemical Button -->
                            <form method="POST" action="{% url 'delete_chemical' table_name chemical.chemBottleIDNUM %}" style="display:inline;">
                                {% csrf_token %}
                                <button type="submit" onclick="return confirm('Are you sure you want to delete this chemical?')" class="button-style">Delete</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}

                    
                </tbody>
            </table>

        </div>
    </div>

</div>