
<div class="form-control grid grid-cols-1 gap-4"> 
    <div class="flex flex-col space-y-1">
        <h3 class="font-bold">Material</h3>
        {% for material, counts in material_counts_dict.items %}
        <span class="label-text text-sm"> 
            {{ counts }} 
        </span>
        {% endfor %}
    </div>

    <div class="flex flex-col space-y-1">
        <h3 class="font-bold">Location</h3>
        {% for location, counts in location_counts_dict.items %}
        <span class="label-text text-sm"> 
            {{ counts }} 
        </span>
        {% endfor %}
    </div>
</div>
