<div id="filter-list" class="border rounded-lg px-3 pt-3"
    hx-target="#chem-list" 
    hx-swap="outerHTML show:top"
    hx-include="#filter-form"
    hx-include="#filter-list">

    <div class="flex justify-between items-center">
        <h2 class="text-lg font-bold">Filter</h2>
        <a hx-get="{% url 'chem_display' table_name %}?entries_per_page={{ entries_per_page }}" 
            hx-on::after-request="document.getElementById('filter-form').reset()" 
            class="text-blue-500 hover:text-blue-700 hover:underline text-xs cursor-pointer">
            Clear all filters
        </a>
    </div>

    <div class="divider my-2"></div>

    <div class= "grid grid-cols-10 gap-x-4">
        <section class="col-span-1">
            <c-filter-form /> 
        </section>

        <section class="col-span-1">
            ( <c-filter-counts />)
        </section>
    </div>
    
</div>