<div class="join py-0" 
    hx-target="#{{ target_id }}" 
    hx-swap="outerHTML"
    hx-include="#filter-form, #sort-by">
    
    <div class="flex justify-between items-center mb-4">
        <form method="get" class="flex items-center">
            <label for="entries_per_page" class="mr-2">Items per page:</label>
            <select name="entries_per_page" id="entries_per_page" class="select select-bordered select-sm leading-tight" onchange="this.form.submit()">
                <option value="10" {% if request.GET.entries_per_page == '10' %}selected{% endif %}>10</option>
                <option value="25" {% if request.GET.entries_per_page == '25' %}selected{% endif %}>25</option>
                <option value="50" {% if request.GET.entries_per_page == '50' %}selected{% endif %}>50</option>
                <option value="100" {% if request.GET.entries_per_page == '100' %}selected{% endif %}>100</option>
                <option value="all" {% if request.GET.entries_per_page == 'all' %}selected{% endif %}>All</option>
            </select>
        </form>

        <span class="step-links">
            {% if page_obj.has_previous %}
            <a hx-get="?page=1&entries_per_page={{ request.GET.entries_per_page }}&sort_by={{ request.GET.sort_by }}">
                <button class="join-item btn">&laquo; first</button>
            </a>
            <a hx-get="?page={{ page_obj.previous_page_number }}&entries_per_page={{ request.GET.entries_per_page }}&sort_by={{ request.GET.sort_by }}">
                <button class="join-item btn">previous</button>
            </a>
            {% endif %}
    
            <span class="current mx-2">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
    
            {% if page_obj.has_next %}
                <a hx-get="?page={{ page_obj.next_page_number }}&entries_per_page={{ request.GET.entries_per_page }}&sort_by={{ request.GET.sort_by }}">
                    <button class="join-item btn">next</button>
                </a>
                <a hx-get="?page={{ page_obj.paginator.num_pages }}&entries_per_page={{ request.GET.entries_per_page }}&sort_by={{ request.GET.sort_by }}">
                    <button class="join-item btn">last &raquo;</button>
                </a>
            {% endif %}
        </span>
    </div>

    
</div>