{% load custom_tags %}
<div class="flex justify-between items-center mb-4">
    <div class="flex space-x-4">

        <form action="{% url 'scanner_add' table_name %}" method="get">
            <button type="submit" class="button-style">Add New Chemical</button>
        </form>

        <form action="{% url 'export_chemicals_csv' %}" method="get">
            <input type="hidden" name="model_name" value="{{ table_name}}" />
            <button type="submit" class="button-style">Export CSV</button>
        </form>

        {% if user|has_group:"Admin" %}
        <form action="{% url 'import_chemicals_csv' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" name="model_name" value="{{ table_name}}">
            <input type="file" name="file" required class="file-input file-input-bordered file-input-sm">
            <button type="submit" class="button-style">Import CSV</button>
        </form>
        {% endif %}

    </div>

    {% if user|has_group:"Admin" %}
    <!-- Hidden on smaller screens -->
    <div class="hidden sm:flex space-x-4">
        <form action="{% url 'delete_all_chemicals' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="model_name" value="{{ table_name}}">
            <button type="submit" class="button-style btn-delete" onclick="return confirm('Are you sure you want to delete all chemicals? This action cannot be undone.')">Delete All</button>
        </form>

        <form action="{% url 'force_update_total_amount' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="button-style">Update Totals for All Chem</button>
        </form>

        <form action="{% url 'run_populate_storage' %}" method="post" style="display:inline;">
            {% csrf_token %}
            <button type="submit" class="button-style">Populate Individ Chem DB</button>
        </form>
    </div>
    {% endif %}
</div>

