{% extends "layout.html" %}

{% block title %}
Log a Chemical
{% endblock %}

{% block content %}
{% load static %}

<body>
    <h1>Scan a chemical's QR to check it in out or back in</h1>
    <div id="video-container">
        <video id="qr-video" width="240" height="240"></video>
    </div>

    <b>Device has camera: </b>
    <span id="cam-has-camera"></span>
    <br>
    <div>
        <b>Preferred camera:</b>
        <select id="cam-list">
            <option value="environment" selected>Environment Facing (default)</option>
            <option value="user">User Facing</option>
        </select>
    </div>

    <b>What the QR code scanned: </b>
    <span id="cam-qr-result">None</span>

    <script type="module">
        import QrScanner from "{% static 'js/qr-scanner.min.js' %}";

        const video = document.getElementById('qr-video');
        const camHasCamera = document.getElementById('cam-has-camera');
        const camList = document.getElementById('cam-list');
        const camQrResult = document.getElementById('cam-qr-result');
        let scanningEnabled = true;
        let lastQrCode = "";

        function setResult(label, result) {
            const qrCodeValue = result.data;

            if (scanningEnabled && qrCodeValue !== lastQrCode) {
                lastQrCode = qrCodeValue;
                label.textContent = qrCodeValue;
                scanningEnabled = false;

                
            }
        }

        const scanner = new QrScanner(video, result => setResult(camQrResult, result), {
            onDecodeError: error => {
                // camQrResult.textContent = error;
                // camQrResult.style.color = 'inherit';
            },
            highlightScanRegion: true,
            highlightCodeOutline: true,
        });

        scanner.start().then(() => {
            // List cameras after the scanner started
            QrScanner.listCameras(true).then(cameras => cameras.forEach(camera => {
                const option = document.createElement('option');
                option.value = camera.id;
                option.text = camera.label;
                camList.add(option);
            }));
        });

        QrScanner.hasCamera().then(hasCamera => camHasCamera.textContent = hasCamera);

        // for debugging
        window.scanner = scanner;

        document.addEventListener("DOMContentLoaded", () => {
            // Optional: Handle additional settings only if the elements are present
            const scanRegionSelect = document.getElementById('scan-region-highlight-style-select');
            if (scanRegionSelect) {
                scanRegionSelect.addEventListener('change', (e) => {
                    videoContainer.className = e.target.value;
                    scanner._updateOverlay(); // reposition the highlight because style 2 sets position: relative
                });
            }

            const showScanRegionCheckbox = document.getElementById('show-scan-region');
            if (showScanRegionCheckbox) {
                showScanRegionCheckbox.addEventListener('change', (e) => {
                    const input = e.target;
                    const label = input.parentNode;
                    label.parentNode.insertBefore(scanner.$canvas, label.nextSibling);
                    scanner.$canvas.style.display = input.checked ? 'block' : 'none';
                });
            }

            const inversionModeSelect = document.getElementById('inversion-mode-select');
            if (inversionModeSelect) {
                inversionModeSelect.addEventListener('change', event => {
                    scanner.setInversionMode(event.target.value);
                });
            }

            camList.addEventListener('change', event => {
                scanner.setCamera(event.target.value);
            });
        });
    </script>

    <style>
        div {
            margin-bottom: 16px;
        }

        #video-container {
            line-height: 0;
        }

        hr {
            margin-top: 32px;
        }

        input[type="file"] {
            display: block;
            margin-bottom: 16px;
        }
    </style>
</body>
{% endblock %}