<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'site.css' %}"/>
</head>

<body>
<div class="navbar">
    <a href="{% url 'home' %}" class="navbar-brand">Home</a>
    <a href="{% url 'currchemicals' %}" class="navbar-item">Chemicals DB</a>
    <a href="{% url 'search' %}" class="navbar-item">Search</a>
    <a href="{% url 'scan' %}" class="navbar-item" target="_blank">Access Scanner Test</a>
    <a href="{% url 'scanner_add' %}" class="navbar-item">Add By Scanner</a>
    <a href="{% url 'checkinandout' %}" class="navbar-item">Check chemical In or Out</a>
    <form method="post" action="{% url 'logout' %}" style="display: inline;">
        {% csrf_token %}
        <button type="submit" class="navbar-item" style="background: none; border: none; padding: 0; cursor: pointer; color: white">
            Logout
        </button>
    </form>
    
</div>

<div class="body-content">
    {% block content %}
    {% endblock %}
    <hr/>
    <footer>
        <p>&copy; 2024</p>
    </footer>
</div>
</body>
</html>
