{% extends "layout.html" %}
{% block title %}
Log a chemical
{% endblock %}
{% block content %}
{% load static %}
<body>
<h1>Scan from WebCam:</h1>
<div id="video-container">
    <video id="qr-video" width="240" height="240"></video>
</div>

<b>Device has camera: </b>
<span id="cam-has-camera"></span>
<br>
<div>
    <b>Preferred camera:</b>
    <select id="cam-list">
        <!-- changed default camera for testing -->
        <option value="environment" selected>Environment Facing (default)</option>
        <option value="user">User Facing</option>
    </select>
</div>

<br>
<b>Last Detected QR code: </b>
<span id="cam-qr-result">None</span>
<br>
<hr>

<div id="qr-result">
    <b>Chemical Name:</b> <span id="result-chemName">N/A</span><br>
    <b>Chemical BottleID:</b> <span id="result-chemBottleIDNUM">N/A</span><br>
    <b>Cabinet Location:</b> <span id="result-chemLocationCabinet">N/A</span><br>
    <b>Shelf Location:</b> <span id="result-chemLocationShelf">N/A</span><br>
    <b>Amount in Bottle:</b> <span id="result-chemAmountInBottle">N/A</span><br>
    <b>Storage Type:</b> <span id="result-chemStorageType">N/A</span>
    <!--add button here-->
    <button id="delete-chemical" style="display:none;">Delete Chemical</button>

    
</div>


<div>
    <!-- Delete Chemical Button -->
    <form id="delete-chemical-form" method="POST" action="#">
   {% csrf_token %}
   <button type="submit" onclick="return confirm('Are you sure you want to delete this chemical?')" class="button-style" id="delete-button" style="display:none;">Delete Chemical</button>
</form>
</div>




<script type="module">
    import QrScanner from "{% static 'js/qr-scanner.min.js' %}";

    const video = document.getElementById('qr-video');
    const videoContainer = document.getElementById('video-container');
    const camHasCamera = document.getElementById('cam-has-camera');
    const camList = document.getElementById('cam-list');
    const camHasFlash = document.getElementById('cam-has-flash');
    const flashToggle = document.getElementById('flash-toggle');
    const flashState = document.getElementById('flash-state');
    const camQrResult = document.getElementById('cam-qr-result');
    const camQrResultTimestamp = document.getElementById('cam-qr-result-timestamp');
    const fileSelector = document.getElementById('file-selector');
    const fileQrResult = document.getElementById('file-qr-result');
    let scanningEnabled = true; // Flag to control scanning
    let lastQrCode = ""; // Store the last scanned QR code

    function setResult(label, result) {
        const qrCodeValue = result.data;

        // Only proceed if scanning is enabled and if the new QR code is different
        if (scanningEnabled && qrCodeValue !== lastQrCode) {
            lastQrCode = qrCodeValue; // Update the last scanned QR code
            label.textContent = qrCodeValue; // Display the new QR code
            scanningEnabled = false; // Disable scanning temporarily

            // Fetch the data based on the scanned QR code
            fetch(`/search_by_qr_code/?chem_id=${qrCodeValue}`)
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.text();  // Use .text() to check the raw response
                })
                .then(text => {
                    console.log(text);  // Log the response to check if it's valid JSON
                    try {
                        const data = JSON.parse(text); // Parse the JSON data
                        if (data.error) {
                            alert(data.error);
                        } else {
                            document.getElementById('result-chemName').textContent = data.chemName || 'N/A';
                            document.getElementById('result-chemBottleIDNUM').textContent = data.chemBottleIDNUM || 'N/A';
                            document.getElementById('result-chemLocationCabinet').textContent = data.chemLocationCabinet || 'N/A';
                            document.getElementById('result-chemLocationShelf').textContent = data.chemLocationShelf || 'N/A';
                            document.getElementById('result-chemAmountInBottle').textContent = data.chemAmountInBottle || 'N/A';
                            document.getElementById('result-chemStorageType').textContent = data.chemStorageType || 'N/A';
                            
                            
                            const deleteForm = document.getElementById('delete-chemical-form');
                            deleteForm.action = `/delete/${data.chemBottleIDNUM}/`;
                             
                            
                            // Show the delete button
                            document.getElementById('delete-button').style.display = 'inline';



                        }
                    } catch (e) {
                        console.error('Invalid JSON:', e);
                    }
                })
                .catch(error => console.error('Error fetching data:', error))
                .finally(() => {
                    // Pause for 1 seconds before re-enabling scanning
                    setTimeout(() => {
                        scanningEnabled = true; // Re-enable scanning
                    }, 1000); // 5000 milliseconds = 5 seconds
                });
               
        }
    }

    // ####### Web Cam Scanning #######

    const scanner = new QrScanner(video, result => setResult(camQrResult, result), {
        onDecodeError: error => {
            // camQrResult.textContent = error;
            // camQrResult.style.color = 'inherit';
        },
        highlightScanRegion: true,
        highlightCodeOutline: true,
    });

    const updateFlashAvailability = () => {
        scanner.hasFlash().then(hasFlash => {
            camHasFlash.textContent = hasFlash;
            flashToggle.style.display = hasFlash ? 'inline-block' : 'none';
        });
    };

    scanner.start().then(() => {
        updateFlashAvailability();
        // List cameras after the scanner started to avoid listCamera's stream and the scanner's stream being requested
        // at the same time which can result in listCamera's unconstrained stream also being offered to the scanner.
        // Note that we can also start the scanner after listCameras, we just have it this way around in the demo to
        // start the scanner earlier.
        QrScanner.listCameras(true).then(cameras => cameras.forEach(camera => {
            const option = document.createElement('option');
            option.value = camera.id;
            option.text = camera.label;
            camList.add(option);
        }));
    });

    QrScanner.hasCamera().then(hasCamera => camHasCamera.textContent = hasCamera);

    // for debugging
    window.scanner = scanner;

    document.getElementById('scan-region-highlight-style-select').addEventListener('change', (e) => {
        videoContainer.className = e.target.value;
        scanner._updateOverlay(); // reposition the highlight because style 2 sets position: relative
    });

    document.getElementById('show-scan-region').addEventListener('change', (e) => {
        const input = e.target;
        const label = input.parentNode;
        label.parentNode.insertBefore(scanner.$canvas, label.nextSibling);
        scanner.$canvas.style.display = input.checked ? 'block' : 'none';
    });

    document.getElementById('inversion-mode-select').addEventListener('change', event => {
        scanner.setInversionMode(event.target.value);
    });

    camList.addEventListener('change', event => {
        scanner.setCamera(event.target.value).then(updateFlashAvailability);
    });

    flashToggle.addEventListener('click', () => {
        scanner.toggleFlash().then(() => flashState.textContent = scanner.isFlashOn() ? 'on' : 'off');
    });

    document.getElementById('start-button').addEventListener('click', () => {
        scanner.start();
    });

    document.getElementById('stop-button').addEventListener('click', () => {
        scanner.stop();
    });

    // ####### File Scanning #######

    fileSelector.addEventListener('change', event => {
        const file = fileSelector.files[0];
        if (!file) {
            return;
        }
        QrScanner.scanImage(file, { returnDetailedScanResult: true })
            .then(result => setResult(fileQrResult, result))
            .catch(e => setResult(fileQrResult, { data: e || 'No QR code found.' }));
    });
</script>




<style>
    div {
        margin-bottom: 16px;
    }

    #video-container {
        line-height: 0;
    }

    #video-container.example-style-1 .scan-region-highlight-svg,
    #video-container.example-style-1 .code-outline-highlight {
        stroke: #64a2f3 !important;
    }

    #video-container.example-style-2 {
        position: relative;
        width: max-content;
        height: max-content;
        overflow: hidden;
    }
    #video-container.example-style-2 .scan-region-highlight {
        border-radius: 30px;
        outline: rgba(0, 0, 0, .25) solid 50vmax;
    }
    #video-container.example-style-2 .scan-region-highlight-svg {
        display: none;
    }
    #video-container.example-style-2 .code-outline-highlight {
        stroke: rgba(255, 255, 255, .5) !important;
        stroke-width: 15 !important;
        stroke-dasharray: none !important;
    }

    #flash-toggle {
        display: none;
    }

    hr {
        margin-top: 32px;
    }
    input[type="file"] {
        display: block;
        margin-bottom: 16px;
    }
</style>
</body>
{% endblock %}
