{% extends "layout.html" %}

{% block title %}
Log a Chemical
{% endblock %}

{% block content %}
{% load static %}
<body>
    <h1>Scan from WebCam:</h1>
    <div id="video-container">
        <video id="qr-video" width="240" height="240"></video>
    </div>

    <b>Device has camera: </b>
    <span id="cam-has-camera"></span>
    <br>
    <div>
        <b>Preferred camera:</b>
        <select id="cam-list">
            <option value="environment" selected>Environment Facing (default)</option>
            <option value="user">User Facing</option>
        </select>
    </div>

    <b>What the QR code scanned: </b>
    <span id="cam-qr-result">None</span>

    <script type="module">
        import QrScanner from "{% static 'js/qr-scanner.min.js' %}";

        const video = document.getElementById('qr-video');
        const camHasCamera = document.getElementById('cam-has-camera');
        const camList = document.getElementById('cam-list');
        const camQrResult = document.getElementById('cam-qr-result');
        let scanningEnabled = true;
        let lastQrCode = "";

        function setResult(label, result) {
            const qrCodeValue = result.data;

            if (scanningEnabled && qrCodeValue !== lastQrCode) {
                lastQrCode = qrCodeValue;
                label.textContent = qrCodeValue;
                scanningEnabled = false;

                fetch(`/search_by_qr/?chem_id=${qrCodeValue}`)
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Network response was not ok');
                        }
                        return response.json();
                    })
                    .then(data => {
                        if (data.error || !data.exists) {
                            window.location.href = `/add/?chem_id=${encodeURIComponent(qrCodeValue)}`;
                        } else {
                            alert("This chemical already exists in the database.");
                        }
                    })
                    .catch(error => {
                        console.error('Error fetching data:', error);
                        alert('An error occurred while fetching data.');
                    })
                    .finally(() => {
                        setTimeout(() => {
                            scanningEnabled = true;
                        }, 1000);
                    });
            }
        }

        const scanner = new QrScanner(video, result => setResult(camQrResult, result));
        scanner.start().then(() => {
            QrScanner.listCameras(true).then(cameras => {
                cameras.forEach(camera => {
                    const option = document.createElement('option');
                    option.value = camera.id;
                    option.text = camera.label;
                    camList.add(option);
                });
            });
        });

        QrScanner.hasCamera().then(hasCamera => camHasCamera.textContent = hasCamera);
    </script>

    <style>
        div {
            margin-bottom: 16px;
        }

        #video-container {
            line-height: 0;
        }

        hr {
            margin-top: 32px;
        }

        input[type="file"] {
            display: block;
            margin-bottom: 16px;
        }
    </style>
</body>
{% endblock %}