
<!DOCTYPE html>
<html>
<body>

<p>The queryset object:</p>

{{ currentlyInStorageTableSearch }}

<p>Loop through the items:</p>

<table border='1'>
  <tr>
    <th>chemical Bottle ID</th>
    <th>chemical Name</th>
    <th>chemical Location</th>
	<th>chemical Amount In Bottle</th>
	<th>chemical storage type</th>

  </tr>
  {% for x in currentlyInStorageTableSearch %}
    <tr>
      <td>{{ x.chemBottleIDNUM }}</td>
	  <td>{{ x.chemName }}</td>
      <td>{{ x.chemLocation }}</td>
	  <td>{{ x.chemAmountInBottle }}</td>
      <td>{{ x.chemStorageType }}</td>
    </tr>
  {% endfor %}
</table>

</body>
</html>