<!-- filepath: /Users/fuckyou/Documents/GitHub/496-498/chemistry/chemistry_system/templates/registration/signup.html -->
{% extends "layout.html" %}
{% load static %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<div class="auth-container">
    <div class="auth-box">
        <img src="{% static 'images/uindy-logo.png' %}" alt="UIndy Logo" class="logo">
        <p class="subheading">Sign Up</p>

        {% if form.errors %}
        <div class="form-errors">
            <p>Please correct the errors below:</p>
            <ul>
                {% for field in form %}
                    {% for error in field.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="next-button">Sign Up</button>
        </form>

        <div class="login-links">
            <a href="{% url 'login' %}">Already have an account? Log in</a>
        </div>
    </div>
</div>
{% endblock %}